'context-menu':
  'atom-workspace': [
    {
      'label': 'Docapp deploy github pages'
      'command': 'docapp:deploy-ghpages'
    }
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Docapp'
      'submenu': [
        { 'label': 'Synchronize repository', 'command': 'docapp:git-sync' }
        { 'label': 'Deploy to  github pages', 'command': 'docapp:deploy-ghpages' }
      ]
    ]
  }
]
