# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Docpad generate': 'docpad:generate'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'docpad'
      'submenu': [
        { 'label': 'Docpad generate', 'command': 'docpad:generate' }
      ]
    ]
  }
]
