# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Docpad deploy github pages': 'docpad:deploy-ghpages'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'docpad'
      'submenu': [
        { 'label': 'Docpad deploy github pages', 'command': 'docpad:deploy-ghpages' }
      ]
    ]
  }
]
